
<meta http-equiv="refresh" content="5" />

<% if @brews.blank? %>
  <p>There are no coffee brews currently in the system.</p>
<% else %>

  <div class="clearfix brewContainer">
  <% @brews.each do |b| %>
    <div class="coffeePot">
        <div class="pot ">

          <%
            freshness = ((Time.now - b.filled_at)/1.hour).ceil
            freshness = 6 unless (freshness > 0 && freshness < 6 && b.state == :normal) 
          %>
          <div class="freshness hrsOld<%= freshness %>">

        </div>

        <% if b.level.to_i >= 0 && b.state == :normal %>

        <% 
          emote = 'yay'
          if(b.level.to_i < 20)
            emote = 'sad'
          elsif(b.level.to_i < 60)
            emote = 'apathy'
          elsif(b.level.to_i == 100  && freshness < 2)
            emote = 'yayay'
          end 

          if(freshness >= 6)
            emote = 'sad'
	  end
        %>

        <div class="level vol<%= b.level.to_i %>"></div>
        <div class="emote <%= emote %>"></div>
           
        <% else %>
          <div class="freshness hrsOld<%= freshness %>"></div>
          <div class="level vol<%= b.level.to_i %>"></div>
          <div class="emote <%= b.state %>"></div>

        <% end %>

      </div>
      <h3><%= link_to b.brew_type, {:action => 'show', :id => b.id} -%></h3>

    </div>

  <% end %>
  </div>
  <%= link_to "Add Brew", {:action => 'new' }%>

<% end %>
